* {
  primaryBackgroundColor: #333333;      //da modificare
  secondaryBackgroundColor: #1f1f1f;    //da modificare
  primarySelectionColor: #004ec4;
  secondarySelectionColor: #004ec4;
  tertiarySelectionColor: #004ec4;
  imagesColor: #dcdcdd;
  imagesBorderColor: #bfbfbf;
  textColor: #dcdcdd;
  selectedTextColor: #dcdcdd;
  errorTextColor: #c83232;
  lineColor: #b3b3b3;
  separatorColor: #004ec4;
}
