* {
  primaryBackgroundColor: #333333;
  secondaryBackgroundColor: #1f1f1f;
  primarySelectionColor: #004ec4;
  lowContrastColor: #1C1C1C;
  fillerColor: #FFFFFF;
  confirmColor: green;
  annulColor: white;
  imagesColor: #dcdcdd;
  imagesBorderColor: #bfbfbf;
  textColor: #dcdcdd;
  selectedTextColor: #dcdcdd;
  errorTextColor: #c83232;
  lineColor: #b3b3b3;
  separatorColor: #004ec4;
}
