* {
  primaryBackgroundColor: #e6e6e6;
  secondaryBackgroundColor: white;
  primarySelectionColor: #0181d7;
  secondarySelectionColor: #0181d7;
  tertiarySelectionColor: #0181d7;
  imagesColor: black;
  imagesBorderColor: #3d3d3d;
  textColor: black;
  selectedTextColor: black;
  errorTextColor: #c83232;
  lineColor: #b3b3b3;
  separatorColor: #0181d7;
}

