* {
  primaryBackgroundColor: #f5dde3;
  secondaryBackgroundColor: #F2C5CF;
  primarySelectionColor: #FF80AB;
  secondarySelectionColor: #FF80AB;
  tertiarySelectionColor: #FF80AB;
  imagesColor: #FFFFFF;
  imagesBorderColor: #D3D3D3;
  textColor: #333333;
  selectedTextColor: #FFFFFF;
  errorTextColor: #c83232;
  lineColor: #BDBDBD;
  separatorColor: #FF80AB;
}
