* {
  primaryBackgroundColor: #5d3a7f;
  secondaryBackgroundColor: #4E2E6B;
  primarySelectionColor: #B65FD3;
  secondarySelectionColor: #B65FD3;
  tertiarySelectionColor: #B65FD3;
  imagesColor: #D9D9D9;
  imagesBorderColor: #bfbfbf;
  textColor: #EAEAEA;
  selectedTextColor: #EAEAEA;
  errorTextColor: #c83232;
  lineColor: #b3b3b3;
  separatorColor: #B65FD3;
}