* {
  primaryBackgroundColor: #8c0000;
  secondaryBackgroundColor: #6e0000;
  primarySelectionColor: #ff4d4d;
  secondarySelectionColor: #ff4d4d;
  tertiarySelectionColor: #ff4d4d;
  imagesColor: #e5e5e5;
  imagesBorderColor: #bfbfbf;
  textColor: #e5e5e5;
  selectedTextColor: #e5e5e5;
  errorTextColor: #ffff99;
  lineColor: #b3b3b3;
  separatorColor: #ff4d4d;
}

