* {
  primaryBackgroundColor: #f2e76c;
  secondaryBackgroundColor: #E8D949;
  primarySelectionColor: #FFC300;
  secondarySelectionColor: #FFC300;
  tertiarySelectionColor: #FFC300;
  imagesColor: #333333;
  imagesBorderColor: #bfbfbf;
  textColor: #333333;
  selectedTextColor: #333333;
  errorTextColor: #c83232;
  lineColor: #b3b3b3;
  separatorColor: #FFC300;
}
